*{
    font-family: 'Baloo Paaji 2', cursive;
    font-weight:bold;
}
header{
    color: White;
    font-size: 30px;
    text-align: center;
}
.card{
    position: relative;
    width: 850px;
    margin: 50px auto 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow:hidden;
}
.card .content{
    background: rgba(255,255,255,0.1);
    padding: 10px 20px;
    color: #fff;
    margin: 10px 0;
    transition: 0.5s;
    border-radius: 10px;
    list-style-type: none;
    text-align: left;
    justify-content: center;
    box-shadow: 0 20px 50px rgb(0,0,0,0.8);
}
.card .content:nth-child(1){
    background: tomato;
}
.card .content:nth-child(2){
    background: greenyellow;
    color: black;
}
.content img{
    float: right;
}