#container{
    border-radius: 20px 20px 20px 20px;
    padding: 20px 5px
}
li{
    border-radius: 5px 5px 5px 5px;
}
ul li:nth-child(1){
    background: lightsalmon;
}
ul li:nth-child(2){
    background: greenyellow;
    color:black;
}
ul li:nth-child(3){
    background: lightskyblue;
}
